<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Simple meme generator</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <div class="container center-align">
    <div class="row">
      <h1>Create a random meme</h1>

      <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
          <div id="custom-picker" class="container">
            <a id="langTitle" class="dropdown-button btn purple white-text" href="#" data-activates="language">Language</a>
            <ul id="language" class="dropdown-content purple lighten-3 black-text">
              <li class="language" str="en">English</li>
              <li class="language" str="es">Spanish</li>
              <li class="language" str="fr">French</li>
              <li class="language" str="he">Hebrew</li>
              <li class="language" str="ru">Russian</li>
              <li class="language" str="--">Other</li>
            </ul>

            <div class="input-field">
              <input placeholder="Top Text" id="top-text" type="text" class="validate">
            </div>

            <img class="randoImg responsive-img">

            <div class="input-field">
              <input placeholder="Bottom Text" id="bot-text" type="text" class="validate">
            </div>

            <a id="create-meme" class="waves-effect waves-light btn purple white-text">Create Meme</a>
          </div>
          <div id="custom" class="container">
            <img id="customMeme" class="responsive-img">
            <a id="new-meme" class="waves-effect waves-light btn purple white-text">New Meme</a>
          </div>
        </div>
        <div class="col s12 m3"></div>
      </div>
    </div>

    <div class="row">
      <h1>Popular memes</h1>
      <div id="recent" class="row"></div>
    </div>

    <div class="row">
      <h3>Trending images</h3>
      <div id="trending" class="row"></div>
    </div>

    <div class="row">
      <p>This site was an exercise in writing a node app to access an API. Everything generated dynamically on this page is from <a href="https://memegenerator.net/">https://memegenerator.net/</a>. Check them out. They're Tony the Tiger!</p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js" type="text/javascript"></script>
  <script src="/js/script.js" type="text/javascript"></script>
</body>
</html>
